.welcome-wrap{
	margin: 0 auto;
	padding-top: 48px;
}

.welcome-wrap__header{
	font-size: 22px;
	line-height: 28px;
	color: #000;
}

.welcome-wrap__user{
	
}

.welcome-wrap__password{
	margin-top: 24px;
}

.welcome-wrap__sign-btn{
	margin-top: 12px;
}